* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #E0E1E5 0.83%, #FFB24B 100%);
}

.container {
    width: 1200px;
    margin: 0px auto;
}
a{
    color: white;
    text-decoration: none;
}

